trigger:
- master

pool: New

steps:

- task: CmdLine@2
  inputs:
    script: '$(Agent.HomeDirectory)\\_work\\ToscaCI\\Client\\ToscaCIClient.exe   -m local -t junit -r $(Common.TestResultsDirectory)\\Results.xml)'

- task: PublishTestResults@2
  inputs:
    testResultsFormat: 'JUnit'
    testResultsFiles: '$(Common.TestResultsDirectory)'
    failTaskOnFailedTests: true
    testRunTitle: 'Published Test Results'